<!DOCTYPE html>

<html lang="cn">


<head>
    <meta charset="UTF-8">
    <title>英->中机器翻译系统</title>

    <!--页面式样文件-->
    <link rel="stylesheet" href="style-trans.css">

    <!--翻译功能接口-->
    <script src="trans.js"></script>
</head>


<body>
<div id="head">
    <h1>英->中机器翻译系统</h1>
</div><hr/>

<div id="container">
    <form action="">
        <div id="content">
            <div id="content-tool">
                <input id="translate" type="submit" value="翻 译"></input>
            </div>
            <div id="content-input">
                <!-- source language text -->
                <div id="content-source">
                    <input type="text" style="height:200px; width:500px;" name="srcLang"></input>
                </div>

                <!-- target language text -->
                <div id="content-target" >

                    <input style="height:200px; width:500px; background: #ccfdff;"></input>

                    <!--
                    <p style="height:200px; width:500px; background: #ccfdff;"></p>
                    -->
                </div>
            </div>
        </div>
    </form>
</div><hr/><!--id=container-->

<div id="foot" style="height:20%; text-align:center">
    <p>中央民族大学 信息工程学院 自然语言处理研究室</p>
    <p>Powered By THUMT</p>
</div>
</body>

</html>